*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
    background: url(../img/fundo.png) repeat-x;
}
.container{
    /* border: solid 2px black ; */
    width: 750px;
    margin: 0 auto;
  
 

}
.top{
/* border: solid 2px green ; */
height: 130px;
background:  url(../img/detalhe-topo.png) no-repeat right top ;
padding-top: 25px;

}

.logo{
/* border: solid yellow; */
width: 152px;
height: 67px;
background: url(../img/logo.png) no-repeat center;
text-indent: -3000px;



}

.menu{
/* background:white; */
/* border: solid red; */
height: 50px;

}

.menu ul{
/* border: solid gray;    */
 /* background-color: rgb(201, 13, 13);    */
display: flex;
justify-content:left;
align-items: center;
list-style: none;
width: 50%;
height: 100%;





}


.menu a{
display: flex;
justify-content: center;
align-items: center;
/* border: solid red; */
border: 0;
margin: 6px;
padding: 10px 15px;
text-decoration: none;
font-weight: bold;
background-color: #b91212;
border-radius:  6px;
/* background: url(../img/divisor.png) no-repeat left center ; */
transition: 0.4s;
color: white;
font-size: 0.8rem;
width: 70px;
}

.menu a:hover{
background-color: rgb(133, 17, 17);
border-radius: 0px 20px;

}

body.inicio #navegaçao a#inicio,
body.medico #navegaçao a#medico,
body.noticia #navegaçao a#noticia,
body.fotos #navegaçao a#fotos{
cursor: pointer;
background-color: rgb(116, 14, 14);

}

#conteudo{
/* border: solid black; */
display: flex;
justify-content:center;
flex-direction: row-reverse;
gap: 10px;
margin: 50px 0px 0px 0px;
flex-wrap: wrap;
height:70vh ;

}
#segundario{
/* border: solid yellow; */
width: 270px;
/* background-color: blue; */
height: 33vh;
background: url(../img/fundo-caixa.png);
cursor: pointer;

}
.sg-h2{
/* border: solid black; */
color: white;
margin-top: 8px;
text-align: center;
background: #3d5e87;
color: white;
width: 100%;
border-radius: 3px;
font-size: 1.1rem;
padding: 10px;



    
}

.img img{
margin-top: 8px;
border-radius: 5px;
width: 100%;
}





#primario{
/* border: solid yellow; */
width: 270px;
/* background-color: blue; */
height: 33vh;
background: url(../img/fundo-caixa.png);
cursor: pointer;
}

                                /* lateral- começo */


#lateral{
/* border: solid yellow; */
width: 180px;
background-color: white;
height: 60vh;
flex-direction: column;
display: flex;
align-items: center;
background: url(../img/fundo-caixa.png);
padding: 5px 0px ;

}
                                /* h2-lateral */

h2#lt-h2{
/* border: solid gray; */
text-align: center;
background: #3d5e87;
color: white;
width: 90%;
border-radius: 3px;
font-size: 1.1rem;
padding: 10px;

}
                                /* lateral left-LU */

 ul#lateral-1{
/* border: solid gray; */
height: 30vh;
width: 80%;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
background-color: white;
margin-top: 20px;
list-style: none;
}

                            /* link lateral-left */
a#link-2{
/* border: solid green; */
background-color: #b91212;
text-decoration: none;
padding: 6px 9px;
color: white;
font-size: 0.9rem;
font-weight: 700;
border-radius: 3px;


}
                            /* lateral left-LI*/

#lateral-1 li{
/* border: solid red; */
padding: 9px ;
transition: 0.3s;
    
}

#lateral-1 li:hover{
padding-left: 20px;
margin-left: 20px;
background: #fff url(../img/seta.png) no-repeat left center; 
}

                                /* conteudo-ipunt */
.input-form{
/* border: solid  red; */
margin-top: 5px;
flex-direction: column;
display: flex;
justify-content: start;
align-items: center;
height: 30%;
}



                                /* ipunt lateral */

h2#input-h2{
/* border: solid gray; */
text-align: center;
background: #3d5e87;
color: white;
width: 160px;
border-radius: 3px;
font-size: 1.1rem;
padding: 9px 0px;

} 

.form{
/* border: solid gray; */
margin-top: 10px;
height: 60px;
width: 155px;
background-color: white;

}
label{
cursor: pointer;
font-weight: 600;


}
input{
font-size: 0.8em;
margin-top: 3px;
padding: 5px;
outline: none;
border: 1px solid #3d5e87;
border-radius: 5px;
width: 150px;


}

button{
padding: 8px;
border-radius: 5px;
border: 0;
background-color: #b91212;
color: white;
font-size: small;
cursor: pointer;
transition: 0.4s;
}

button:hover{
background-color: #810c0c;
border-radius: 0px 20px;

}
                    /* fim da lateral */

.mundo-cx{
/* border: solid gray; */
margin-top: 10px;


}

.img-mundo{
/* border: solid gray; */
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;

}


.mundo-fim li{
/* border: solid red; */
padding:5px ;
list-style: none;

}
.mundo-fim li a img{
float: left;
margin: 5px;

}
.mundo-fim li  a{
text-decoration: none;
font-size: 0.8em;
}
.mundo-fim li  a p{
color: black;
}
.mundo-fim:hover{
opacity: 0.9;
background-color: #f1ebeb;
}






















                            /* roda pe */
footer{
/* border: solid red; */
display: flex;
justify-content: center;
align-items: center;
background-color: #3d5e87;
width: 100%;
height: 60px;
color: white;

min-width: 780px;


}

